<%= form_for(@diocese) do |f| %>
  <% if @diocese.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diocese.errors.count, "error") %> prohibited this diocese from being saved:</h2>

      <ul>
      <% @diocese.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
