<%= form_for(@archdiocese) do |f| %>
  <% if @archdiocese.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archdiocese.errors.count, "error") %> prohibited this archdiocese from being saved:</h2>

      <ul>
      <% @archdiocese.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
